.form
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 24px

.submit, .input, .selectIn
    padding: 10px
    font-size: 32px
    outline: 0
    border: none
    background: #fff
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3)

.submit, .input
    border-radius: 0
    color: #159957

.input
    width: 300px
    padding: 10px
    color: #000
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px

    &::placeholder
        color: rgba(0,0,0,0.3)

.submit
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px
    transition: color .3s, background .3s

    &:hover
        color: #fff
        cursor: pointer
        background: #159957

.select
    position: relative
    margin: 0 20px

.selectIn
    padding-right: 30px
    border-radius: 2px
    appearance: none
    cursor: pointer

.arrow
    position: absolute
    top: 50%
    right: 10px
    transform: translateY(-50%)
    transition: transform .3s ease-in-out
    pointer-events: none
